// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: white;
}
// .carousel-item{
//   height: 400px;
//   width: 100%;
// }

.custom-img-fluid{
  width: 100%;
  height: 500px;
}

.navbar{
  width: 100%;
  background-color: black;
  color: white;
}

.custom-nav-link{
  text-decoration: none;
  color: white;
  margin-left: 100px;
}
.custom-nav-link:hover{
  color: white;
}

.navParagraph{
  font-size: 12px;
}